body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebfae9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 80%;
  align-content: center;
  margin-left: 3px;
}

th,
td {
  border: 0.2px solid #ffff;
  text-align: left;
  padding: 1px;
  font-size: 20px;
}

th {
  background-color: #bbf1bb;
  color: #ffffff;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  text-align: center;
  height: 50px;
}

td {
  background-color: #e0efe0;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

#korisnicko_ime {
  text-align: center;
}
label {
  font-size: 30px;
  text-align: left;
}

.unos {
  text-align: left;
}

input[type="text"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.gumbovi {
  font-size: 25px;
}
button[type="submit"] {
  font-size: 25px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

h4{
  text-align: center;
}



button {
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #b3e4af;
}
button:hover {
  background-color: #b5f888;
  color: white;
}
#Odustani {
  font-size: 25px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
